---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Sidebar from '@components/Sidebar.astro';
import Editor from '@components/Editor.astro';
import ResumeContent from '@components/ResumeContent.astro';
---

<Layout title="Zidan Omar Hamid - Software Engineer">
    <Header />
    
    <div class="container">
        <Sidebar />
        <Editor fileName="zidan_resume.go" language="Go">
            <ResumeContent />
        </Editor>
    </div>
</Layout>

<style>
    .container {
        display: flex;
        height: calc(100vh - 35px);
    }
</style>
